<h1> Symptoms Index: </h1>

<h2>
    <ul> 
        <li> Fever or feeling feverish (such as chills, sweating) </li>
        <br>
        <li> Cough </li>
        <br>
        <li> Mild or moderate difficulty breathing </li>
        <br>
        <li> Sore throat </li>
        <br>
        <li> Muscle aches or body aches </li>
        <br> 
        <li> Vomiting or diarrhea </li>
        <br> 
        <li> New loss of taste or smell </li>
        <br>
        <li> Congestion or runny nose </li>
        <br>
    </ul> 
</h2>