<h1> Covid positive users have being to the following locations: </h1>

<h2>
    <ul>
        <% @locations.each do |f| %>
            <li> <%= link_to f.name, location_path(f) %> </li>
        <% end %>
    </ul>
</h2>